 .info-bank-title {
     background-color: #ccc;
     padding: 10px 20px;
     text-align: center;
     font-size: 15px;
     margin-right: 10px;
     border-radius: 10px;
 }
 
 .ant-btn .ant-btn-loading-icon {
     display: inline-block !important;
     margin-right: 8px;
     vertical-align: middle;
 }